{
  "plugins": ["prettier-plugin-sh"],
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.sh", "*.bash"],
      "options": { "indent": 2, "keepComments": true, "switchCaseIndent": true }
    }
  ]
}
